html,
body {
  font-family: "Roboto", "Helvetica Neue", "Verdana", "Tahoma", "sans-serif";
  font-style: normal;
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
  margin: 0;
}

.nav-header {
  margin: 0;
  display: inline-block;
  padding-left: 156px;
  padding-top: 24px;
  padding-bottom: 25px;
  /* NAVY BLUE */
  color: #2e2f42;
}

.link {
  text-decoration: none;
  /* NAVY BLUE */
  color: #2e2f42;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  margin: 0;
}

/* .logo::before {
  content: "WEB";
  color: #4d5ae5;
} */

.menu {
  list-style-type: none;
  display: inline-flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* NAVY BLUE */
  color: #2e2f42;
}

.menu li {
  margin-right: 40px;
}

address {
  display: inline-block;
}

.info_contacts {
  list-style-type: none;
  display: inline-flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 332px;
}

.info_contacts li {
  margin-right: 40px;
}
/* .header ul {
  margin: 0;
  display: flex;
  list-style-type: none;
}
.header li {
  margin-right: 40px;
} */

.hero-image {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* NAVY BLUE */
  background: #2e2f42;
  padding-top: 188px;
}

h1 {
  /* WHITE */
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */
  text-align: center;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttonc {
  margin-top: 48px;
  text-align: center;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: none;
  width: 169px;
  height: 56px;
  /* IRIS */
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* WHITE */
  color: #ffffff;
}

/* section1 */

.section1 {
  padding-top: 120px;
}

/* .hidden {
  display: none;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section1-cont {
  margin: 0;
  display: flex;
  justify-content: center;
}

.section1-ceil {
  list-style-type: none;
  width: 264px;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* SLATE */
  color: #434455;
}

/* section2 */

h2 {
  padding-top: 120px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  text-transform: capitalize;

  /* NAVY BLUE */
  color: #2e2f42;
}

.section2-cont {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}

/* section3 */

.section3-cont {
  margin-top: 120px;
  height: 732px;
  background: #f4f4fd;
}

.team-members {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.team-member {
  list-style-type: none;
  width: 264px;
  height: 380px;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  /* SLATE */
  color: #434455;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* NAVY BLUE */
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 20px;
}

/* footer */

.footer {
  height: 312px;
  /* NAVY BLUE */
  background: #2e2f42;
  padding-top: 100px;
}

.footer-element {
  width: 264px;
  margin-left: 156px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* CLOUD */
  color: #f4f4fd;
}

.footer-logo {
  margin: 0;
  margin-left: 156px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  /* CLOUD */
  color: #f4f4fd;
}

.footer-logo > .link {
  color: #f4f4fd;
}

/* .footer-logo::before {
  content: "WEB";
  color: #4d5ae5;
} */
